<template>
    <aside class="layout-sidebar">
        <div class="topbar">
            <a href="#">Tienda Virtual</a>
        </div>
        <ul>
            <li v-for="product in products">
            	<router-link :to="{name: 'product', params: {id: product.id}}" v-text="product.title"></router-link>
            </li>
        </ul>
    </aside>
</template>

<script>
    export default {
        data(){
            return {
                products: [],
            }
        },
        mounted(){
            axios.get('api/products_vue')
                .then(response => {
                    this.products = response.data;
                })
        }
    }
</script>
