<template>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="/index">Tienda</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Notifications -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">shopping_cart</i>
                            <span class="label-count" v-text="array.carts"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">Productos en el carrito</li>
                            <li class="footer">
                                <a href="/shopping_cart">Ver los productos</a>
                            </li>
                        </ul>
                    </li>
                    <!-- #END# Notifications -->
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        //props: ['total_qty'],
        data(){
            return {
                array: [],
            }
        },
        mounted(){
            axios.get('products_vue')
                .then(response => {
                    console.log(response.data);
                    this.array = response.data;
                })
        },
    }
</script>
