<template>
    <aside class="layout-sidebar">
            <div class="row">
                <div v-for="product in array.products" class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img v-bind:src="product.image_path" alt="..." class="img-responsive">
                        <div class="caption">
                            <h3 v-text="product.title"></h3>
                            <p class="description" v-text="product.description"></p>
                            <div class="clearfix">
                                <div class="pull-left price" v-text="product.price">Bs. </div>
                                <a href="javascript:void(0);" class="btn btn-success pull-right" role="button" v-on:click="addProductCart(product)">Añadir al carrito</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </aside>
</template>

<script>
    export default {
        data(){
            return {
                array: [],
            }
        },
        mounted(){
            axios.get('products_vue')
                .then(response => {
                    this.array = response.data;
                })
        },
        methods: {
            addProductCart(product){
                /*this.$http.get('api/add_to_cart/'+product.id)
                    .then(response => {
                        console.log(response.body);
                        this.products = response.body;
                        }, response => {
                        alert('Error');
                    });*/
                axios.get('add_vue_cart/'+product.id)
                    .then(response => {
                        //console.log(response.data);
                        this.products = response.data;
                        window.location.href = 'products';
                    })
            },
        },
    }
</script>
