<template>
    <div>
        <p>En el patio de una casa hay tres grandes jaulas pintadas de distintos colores: rojo, amarillo y verde. En las jaulas viven conejos. En la jaula verde hay 2 veces más conejos que en la amarilla. Un día de la jaula de la izquierda sacan 5 conejos para dejarlos salir un rato, y la mitad de los conejos restantes son movidos a la jaula roja. ¿De qué color era la jaula de la izquierda?</p>
        <br/>
        <div align="center">
            <button type="button" class="btn bg-red waves-effect" v-on:click="answer()">Respuesta</button>
        </div>
        <br/>
        <p v-html="text"></p>
    </div>
</template>

<script>
    export default {
        //name: "RetoComponent"
        data: function () {
            return {
                text: ''
            }
        },
        methods: {
            answer(){
                this.text = 'La jaula era amarilla. El acertijo menciona que en la jaula verde había 2 veces más conejos que en la amarilla, lo cual significa que en la jaula verde había un número par de conejos. Después de que de la jaula izquierda sacaran 5 conejos, también quedó un número par de animales adentro, ya que la cantidad se podía dividir entre dos. Esto significa que antes de haber sacado los 5 conejos de la jaula misteriosa, había un número impar de ellos. Por lo tanto, la jaula no es verde ni roja.<br/>Bibliografía: https://genial.guru/admiracion-curiosidades/4-problemas-de-logica-que-sacudiran-tu-mente-179955/<br/><br/>Mi respuesta: Siguiendo el orden que da el enunciado ("jaulas pintadas de distintos colores: rojo, amarillo y verde"), al pararme de frente a la jaula verde, a mi izquierda está la jaula amarilla';
            },
        },
    }
</script>
