<template>
    <section class="layout-content">
        <div>
            <div class="col-xs-12 text-center">
                <h1>Prueba</h1>
                <hr>
                404
            </div>
        </div>
    </section>
</template>
