<template>
    <section class="layout-content">
        <div>
            <div class="col-xs-12">
                <h1 v-text="product.title"></h1>
                <hr>
                <div v-html="product.body"></div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        props: ['id'],
        data(){
            return {
                product: {}
            }
        },
        mounted(){
            axios.get(`api/products_vue/${this.id}`)
                .then(response => {
                    console.log(response);
                    this.product = response.data;
                })
        }
    }
</script>
